body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
    /* background-color: black; */
    /* opacity: 0; */
    /* font-family: 'Roboto', sans-serif; */
    position: absolute;
    top: 0;
    left: 0;
    
}
.logo{
width: 40%;

}

.logo a{
   text-decoration: none;
   color: white;
   font-size: 32px;
   text-transform: uppercase;
   font-weight: 800;
   padding-left: 20px;
}

.logo a em{
    color: #ed563b;
    font-weight: 900;
}

.navlinks a{
    text-decoration: none;
    color: white;
    margin: 10px;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    
} 

.navlinks a:hover{
    color: #ed563b;
}

.navlinks a:active{
    color: #ed563b;
}

.navlinks .signUpbtn{
    
    background-color: #ed563b;
    color: white;
    padding: 11px 17px;
    font-size: 13px;
    font-weight: 400px;
    /* height: 40px;
    width: 80px; */
    border: none;

}

.navlinks .signUpbtn:hover{
    opacity: 0.6;
}
.container{
    margin: 0;
    /* background: black; */
    /* font-family: 'Roboto', sans-serif; */
}

.banner-img{
    /* width: 100vw; */
    height: 100vh;
    background: black;
}


.banner-img img{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.slider{
    position: relative;
}
.slider img{
    width: 100%;
}

.slider-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    width: 80%;
    /* font-family: 'Roboto', sans-serif; */
}

.slider-content h6{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.5px;
    margin: 0;
}

.slider-content h1{
    font-size: 84px;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 30px 0 25px 0;
    
}
 em{
    color: #ed563b;
    font-style: normal;
}

.addMember{
    color: white;
    background: #ed563b;
    padding: 12px 20px;
    border: none;
    font-weight: 400;
    font-size: 15px;
}

.addMember:hover{
    opacity: 0.6;
   
}

.program-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 80%; */
   justify-content: space-around;
  
    
}

.title-section{
    text-align: center;
    width: 40%;
    margin: 80px 0;
}

/* .title-section span{
    color: red;
} */


.title-section h2{
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 0.5px;
}

.title-section p{
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
}
.program-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 80px;
}

.programs{
    display: flex;
    width: 40%;
    /* border:2px solid black; */
    margin-bottom: 50px;
    
    /* justify-content: start;
    align-items: flex-start; */
}

.programs img{
    height: 100px;
    width: 100px;
}

.program-description {
    margin-left: 20px;
}
.program-description h4 {
    margin: 0;
    /* padding-bottom: 5px; */
    font-size: 19px;
    letter-spacing: 0.25px;
    font-weight: 600;
}

.program-description p {
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
    margin: 0;
    /* padding-bottom: 5px;
    color: gray; */
    
}


.program-description a{
    color: #ed563b;
    font-size: 13px;
    font-weight: 500;
    /* margin-top: 7px; */
    text-decoration: none;
}

.banner-2{
    background: url(./cta-bg.jpg);
    padding: 20px;

}
.banner-content{
    margin: auto;
    width: 60%;
    text-align: center;
    padding: 50px 0;
    color: white;
}


.banner-content h2{
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 1px;
}


.banner-content p{
    font-size: 16px;
    margin: 15px 0 25px 0;
}


.class-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 80%; */
   justify-content: space-around;
}

.classes-section{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    
}
.classes{
    width: 30%;
    margin-bottom: 80px;
    /* margin-left: 50px; */
}
.class-list{
    margin: 0;
    padding: 0;
    list-style: none;
   
}


.classes ul li{
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}


.classes ul li a{
    padding: 30px 30px;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: 600;
    border-radius: 5px;
}

.classes ul li a:hover{
    color: #ed563b;
}

.classes ul li a:active{
    color: #ed563b;
}

.classes ul li a img{
    margin-right: 20px;
}

div.Shedulebtn{
    width: 100%;
    height: 50px;
    
}

div.Shedulebtn a{
    background-color: #ed563b;
    color: #fff;
    text-transform: uppercase;
    border: none;
    text-align: center;
    padding: 20px 30px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-decoration: none;
    
}

.Shedulebtn a:hover{
    opacity: 0.6;
}

.class-description{
    width: 60%;
}


.class-description img{
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.class-description h4{
    font-size: 23px;
    font-weight: 700;
    columns: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.class-description p{
    font-size: 14px;
    columns: #7a7a7a;
    margin-bottom: 28px;
}

.main-btn a{
    display: inline-block;
    font-size: 15px;
    padding: 12px 20px;
    background-color: #ed563b;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.main-btn a:hover{
    opacity: 0.6;
}

.class-schedule-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 80%; */
   justify-content: space-around;
   background: url("./schedule-bg.jpg");
   color: #fff;
  
  
}

.class-schedule-container .title-section{
    margin-bottom: 20px;
}

.class-schedule-container p{
    color: #fff;
    
}

.time-table{
    width: 80%;
    text-align: center;
    margin-bottom: 80px;
    /* margin: auto; */
   
}

.time-table ul{
    margin-bottom: 40px;
    padding: 0;
   
}
.time-table ul li{
    list-style: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-right: 10px;
    cursor: pointer;
}

.time-table ul li::after{
    content: "/";
    margin-left: 10px;
}
.time-table ul li:hover{
    color: #ed563b;
}
.time-table ul li:active{
    color: #ed563b;
}

.time-table table{
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
    border-collapse: collapse;
}

.time-table table tr{
    border-bottom : 1px solid #fff ;
}

.time-table table tr td{
    border-right: 1px solid #fff;
    height: 100px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.25px;
}

.trainer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   justify-content: space-around;
}


.trainer-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* align-content: center; */
    /* width: 100vw;  */
   margin-bottom: 80px;
   
}


.trainer{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 5px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    padding: 20px;
    width: 20%;
    justify-content: center;
   
}

.trainer img{
    width: 100%;
   
}




.trainer-info span{
    font-size: 13px;
    font-weight: 500;
    color: #ed563b;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
}

.trainer-info h4{
    font-size: 19px;
    font-weight: 600;
    columns: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
    margin-top: 0;
}

.trainer-info p{
    margin-bottom: 20px;
    font-size: 14px;
    color: #7a7a7a;
    line-height: 25px;
}

.trainer-info ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.trainer-info ul li{
    display: inline-block;
    margin-right: 12px;
}

.trainer-info ul li a{
    color: #232d39 ;
    text-decoration: none;
}

/* --------------------------Media Query--------------------------------   */

@media screen and (max-width:600px) {

    /* ------------------------- Responsive Navigation Bar --------------- */
    .logo a{
        font-size: 20px;
        /* font-weight: 800; */
     }
    
     .navbar{
         display: flex;
         /* padding-top: 30px; */
         justify-content: space-between;
         /* padding-right: 20px; */
         margin-right: 10px;
     }

     .navlinks{
         padding-right: 20px;
     }
     .navlinks a{
        display: none;
        
       
        
    } 


    .slider-content{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: white;
        width: 100%;
        /* font-family: 'Roboto', sans-serif; */
    }

    .slider-content p{
        font-size: 12px;
        font-weight: bold;
    }

    .slider-content h1{
        font-size: 20pt;
    }

    .addMember{
        color: white;
        background: #ed563b;
        padding: 15px;
        border: none;
        font-size: 12px;
    }

    .navlinks .signUpbtn{
        
        background-color: #ed563b;
        color: white;
        height: 30px;
        width: 70px;
        border: none;
        font-size: 12px;
        
        /* position: absolute;
        top:20px;
        right: 20px; */
    }

/* ------------------------- Responsive Program Section --------------- */


    .title-section{
        text-align: center;
        width: 80%;
        margin: 80px 0;
    }

    .program-section{
        display: flex;
        flex-flow: column ;
        justify-content: space-around;
        padding: 20px;
    }
    
    .programs{
        display: flex;
        width: 100%;
        margin: 10px;  
    }

    .program-description p,a {
        font-size: 12px;
        text-align: justify;
        padding-right: 10px;
        
    }
    
    /* ------------------------- Responsive Banner-2 --------------- */

    .banner-content{
      
        width: 100%;
        text-align: center;
        padding: 50px 0px;
        color: white;
    }

    /* ------------------------- Responsive Class Section --------------- */


    .classes-section{
        display: flex;
        flex-direction: column;
        
    }

    .classes ul li a {
        font-size: 18px;
    }
    .classes{
        width: 100%;
        margin-bottom: 80px;
        /* margin-left: 50px; */
    }
    .class-description{
        width: 100%;
        margin-bottom: 80px;
    }

    /* ------------------------- Responsive Class Schedule Section --------------- */
    .class-schedule-container{
        padding: 0 20px;

    }

    .time-table{
        width: 100%;
        
    }


    .trainer-section{
        display: flex;
        flex-direction: column;
    }

    .trainer{
        width: 80%;
        margin-bottom: 40px;
    }

}